{% extends 'homepage/header.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Discover" %}{% endblock %}

{% block content %}
<section class="discover-section">
    <div class="search-bar">
        <div class="search-input-container">
            <input type="text" class="search-input" placeholder="{% trans 'Search...' %}">
            <i class="fas fa-search search-icon"></i>
        </div>
        <button class="sign-in add-space-button" onclick="location.href='{% url 'add_workspace' %}'">
            {% trans "Add New Space" %}
        </button>
    </div>

    <div class="categories-section">
        <h2>{% trans "Categories" %}</h2>
        <div class="carousel">
            {% for category in categories %}
            <div class="carousel-item">
                <p>{{ category.name }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="workspaces-section">
        <h2>{% trans "Workspaces" %}</h2>
        <div class="workspaces-container">
            {% for workspace in workspaces %}
            <div class="workspace-card">
                {% if workspace.photos.exists %}
                <img src="{{ workspace.photos.first.file }}" alt="{{ workspace.name }}" class="workspace-image" />
                {% endif %}
                <h3>{{ workspace.name }}</h3>
                <p>{{ workspace.category.name }}</p>
                <a href="{% url 'workspace_detail' workspace.id %}" class="view-details-button">
                    {% trans "View Details" %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<style>
   /* Estilos da seção Discover */
.discover-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
}

/* Estilos da barra de pesquisa */
.search-bar {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; 
}

.search-input-container {
    width: 80px;
    flex-grow: 1;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input {
    width: 80%;
    border: none;
    border-radius: 5px;
    color: #203354;
    font-size: 16px;
    outline: none;
}

.search-input::placeholder {
    color: #B0BEC5;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #B0BEC5;
    pointer-events: none;
}

/* Estilos do botão "Add New Space" */
.add-space-button {
    padding: 12px 20px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap; /* Previne quebra de linha no botão */
}

.add-space-button:hover {
    background-color: #007BFF;
}

/* Estilos das seções de categorias e espaços de trabalho */
.categories-section,
.workspaces-section {
    margin-top: 40px;
}

.categories-section h2,
.workspaces-section h2 {
    font-family: 'Montserrat', sans-serif;
    color: #203354;
}

/* Estilos do carrossel de categorias */
.carousel {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.carousel-item {
    min-width: 150px;
    margin-right: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #203354;
}

/* Estilos dos cards de espaços de trabalho */
.workspaces-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.workspace-card {
    width: 300px;
    margin: 10px;
    border: 1px solid #B0BEC5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.workspace-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.workspace-card h3 {
    font-family: 'Montserrat', sans-serif;
    color: #203354;
    margin-top: 0;
}

.workspace-card p {
    font-family: 'Lato', sans-serif;
    color: #757575;
    margin-bottom: 15px;
}

/* Estilos do botão "View Details" */
.view-details-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: 'Lato', sans-serif;
}

.view-details-button:hover {
    background-color: #007BFF;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .search-bar {
        flex-direction: row; /* Mantém os elementos lado a lado */
        flex-wrap: nowrap; /* Impede a quebra de linha dos elementos */
    }

    .search-input-container {
        flex-grow: 1; /* Permite que o input cresça para preencher o espaço disponível */
        margin-right: 10px; /* Espaçamento entre o input e o botão */
    }

    .add-space-button {
        flex-shrink: 0; /* Impede que o botão encolha */
    }
}
</style>

{% include 'homepage/footer.html' %}
{% endblock %}
