{% extends 'homepage/header.html' %}
{% load i18n %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ workspace.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="header-container">
        <h1>{{ workspace.name }}</h1>
        <div class="carousel-container">
            <button class="carousel-control-prev" id="prev-btn">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"><ion-icon name="arrow-back-outline"></ion-icon></span>
            </button>
            <div class="carousel-wrapper">
                <div class="carousel-inner">
                    {% if workspace.photos.all %}
                        {% for photo in workspace.photos.all %}
                        <div class="carousel-item">
                            <img src="{{ photo.file.url }}" alt="{{ workspace.name }}" class="carousel-img">
                        </div>
                        {% endfor %}
                    {% else %}
                        {% for i in "123" %}
                        <div class="carousel-item">
                            <img src="{% static 'images/no_images.svg' %}" alt="{{ workspace.name }}" class="carousel-img">
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <button class="carousel-control-next" id="next-btn">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"><ion-icon name="arrow-forward-outline"></ion-icon></span>
            </button>
        </div>
        <button class="btn btn-outline-primary like-button mt-3" data-workspace-id="{{ workspace.id }}">
            {% if user.is_authenticated and liked %}
                <ion-icon name="heart" class="fas fa-heart liked"></ion-icon>
            {% else %}
                <ion-icon name="heart-outline" class="far fa-heart"></ion-icon>
            {% endif %}
        </button>
    </div>
    <div class="info-container">
        <div class="ratings-card">
            <div class="margin">
                <h2 class="card-title">{% trans "Ratings and review" %}</h2>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="star-rating">
                                {% for i in 0|make_list:5 %}
                                    {% if i < notes.note_general %}
                                        <ion-icon name="star" class="star"></ion-icon>
                                    {% else %}
                                        <ion-icon name="star-outline" class="star-outline"></ion-icon>
                                    {% endif %}
                                {% endfor %}
                                <span class="text-secondary ml-2">({{ notes.note_general }} / 5)</span> 
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h6 class="mb-0">{% trans "Sockets" %}</h6>
                            <div class="star-rating">
                                {% for i in 0|make_list:5 %}
                                    {% if i < notes.note_sockets %}
                                        <ion-icon name="star" class="star"></ion-icon>
                                    {% else %}
                                        <ion-icon name="star-outline" class="star-outline"></ion-icon>
                                    {% endif %}
                                {% endfor %}
                                <span class="text-secondary ml-2">({{ notes.note_sockets }} / 5)</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h6 class="mb-0">{% trans "Internet" %}</h6>
                            <div class="star-rating">
                                {% for i in 0|make_list:5 %}
                                    {% if i < notes.note_internet %}
                                        <ion-icon name="star" class="star"></ion-icon>
                                    {% else %}
                                        <ion-icon name="star-outline" class="star-outline"></ion-icon>
                                    {% endif %}
                                {% endfor %}
                                <span class="text-secondary ml-2">({{ notes.note_internet }} / 5)</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h6 class="mb-0">{% trans "Silence" %}</h6>
                            <div class="star-rating">
                                {% for i in 0|make_list:5 %}
                                    {% if i < notes.note_silence %}
                                        <ion-icon name="star" class="star"></ion-icon>
                                    {% else %}
                                        <ion-icon name="star-outline" class="star-outline"></ion-icon>
                                    {% endif %}
                                {% endfor %}
                                <span class="text-secondary ml-2">({{ notes.note_silence }} / 5)</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h6 class="mb-0">{% trans "Menu Price" %}</h6>
                            <div class="star-rating">
                                {% for i in 0|make_list:5 %}
                                    {% if i < notes.note_menu_price %}
                                        <ion-icon name="star" class="star"></ion-icon>
                                    {% else %}
                                        <ion-icon name="star-outline" class="star-outline"></ion-icon>
                                    {% endif %}
                                {% endfor %}
                                <span class="text-secondary ml-2">({{ notes.note_menu_price }} / 5)</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h6 class="mb-0">{% trans "Daily Price" %}</h6>
                            <div class="star-rating">
                                {% for i in 0|make_list:5 %}
                                    {% if i < notes.note_daily_price %}
                                        <ion-icon name="star" class="star"></ion-icon>
                                    {% else %}
                                        <ion-icon name="star-outline" class="star-outline"></ion-icon>
                                    {% endif %}
                                {% endfor %}
                                <span class="text-secondary ml-2">({{ notes.note_daily_price }} / 5)</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>    
        </div>
        <div class="details-card">
            <div class="margin">
                <h2 class="card-title">{% trans "Details" %}</h2>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">{% trans "Category" %}</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ workspace.category.name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">{% trans "Description" %}</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ workspace.description }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">{% trans "Owner" %}</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {% if workspace.owner %}
                                    {{ workspace.owner.name }}
                                {% else %}
                                    {% trans "Not claimed yet" %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">{% trans "Website" %}</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ workspace.website|default:_("Not available") }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="location-card">
                <div class="margin">
                    <h2 class="card-title">{% trans "Location and contact" %}</h2>
                    <div id="map"></div>
                    <p><ion-icon name="location-sharp"></ion-icon> {{ workspace.street }}, {{ workspace.number }}, {{ workspace.city }}, {{ workspace.state }}, {{ workspace.country }}</p>
                    
                    {% if workspace.email %}
                        <p><ion-icon name="mail"></ion-icon> {{ workspace.email }}</p>
                    {% else %}
                        <p><ion-icon name="mail"></ion-icon> {% trans "No email provided" %}</p>
                    {% endif %}
                    
                    {% if workspace.phone %}
                        <p><ion-icon name="call"></ion-icon> {{ workspace.phone }}</p>
                    {% else %}
                        <p><ion-icon name="call"></ion-icon> {% trans "No phone number provided" %}</p>
                    {% endif %}
                </div>
        </div>
    </div>
    <div class="review-container">
        <div class="margin">
            <h2>{% trans "Reviews" %}</h2>
            <div class="review">
                <div class="geral-info">
                    <p><strong>{% trans "Overall Rating" %}:</strong> {{ overall_rating }} / 5</p>
                    <p><strong>{% trans "Total Reviews" %}:</strong> {{ total_reviews }}</p>
                    <ul class="star-counts">
                        {% for star, count in star_counts_list %}
                            <li>
                                <p><strong>{{ star }} {% trans "Stars" %}:</strong> {{ count }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="reviews">
                    {% if reviews %}
                        {% for review in reviews %}
                        <div class="card mt-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="ms-3">
                                            <div class="title-review">
                                                <div class="title">
                                                    <img src="{% static 'images/profile_picture.png' %}" alt="{% trans 'Profile Image' %}" class="rounded-circle avatar-lg img-thumbnail">
                                                    <h3 class="mb-1">{{ review.user.name }}</h3>
                                                </div>
                                                <small class="text-muted">{{ review.date|date:"d M Y" }}</small>
                                            </div>
                                            <p class="mb-1">{{ review.comment }}</p>
                                            <div class="review-votes">
                                                <ion-icon name="caret-up" class="upvote" data-review-id="{{ review.id }}" data-vote-type="upvote" {% if user_votes|get_item:review.id and user_votes|get_item:review.id.vote_type == 'upvote' %}disabled{% endif %}></ion-icon>
                                                <span>{{ review.useful_count }}</span>
                                                <ion-icon name="caret-down" class="downvote" data-review-id="{{ review.id }}" data-vote-type="downvote" {% if user_votes|get_item:review.id and user_votes|get_item:review.id.vote_type == 'downvote' %}disabled{% endif %}></ion-icon>
                                            </div>                                                                                      
                                            <div class="star-rating">
                                                {% for i in 5|range_filter %}
                                                    {% if i < review.notes.note_general %}
                                                        <ion-icon name="star" class="star"></ion-icon>
                                                    {% else %}
                                                        <ion-icon name="star-outline" class="star-outline"></ion-icon>
                                                    {% endif %}
                                                {% endfor %}
                                                <span class="text-secondary ml-2">({{ review.notes.note_general }} / 5)</span> 
                                            </div>
                                            <div class="review-ratings">
                                                <p>{% trans "Sockets" %}: {{ review.notes.note_sockets }} / 5</p>
                                                <p>{% trans "Internet" %}: {{ review.notes.note_internet }} / 5</p>
                                                <p>{% trans "Silence" %}: {{ review.notes.note_silence }} / 5</p>
                                                <p>{% trans "Menu Price" %}: {{ review.notes.note_menu_price }} / 5</p>
                                                <p>{% trans "Daily Price" %}: {{ review.notes.note_daily_price }} / 5</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>{% trans "No reviews yet. Be the first to leave a review!" %}</p>
                        <a href="{% url 'add_review' workspace.id %}" class="btn btn-primary mt-3">{% trans "Add a Review" %}</a>
                    {% endif %}
                </div>  
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const likeButton = document.querySelector('.like-button');
        const isAuthenticated = {{ user.is_authenticated|yesno:"true,false" }};
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        likeButton.addEventListener('click', function() {
            const workspaceId = this.dataset.workspaceId;
            const icon = this.querySelector('ion-icon');
            const isLiked = icon.classList.contains('liked');

            if (!isAuthenticated) {
                alert("{% trans 'Please log in to like this workspace.' %}");
                window.location.href = "{% url 'login' %}?next={{ request.path }}";
                return;
            }

            console.log(`Sending like request for workspace ID: ${workspaceId}`);

            fetch(`/like_workspace/${workspaceId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ isLiked: !isLiked })
            })
            .then(response => {
                if (response.status !== 200 && response.status !== 201) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log(`Response data: ${JSON.stringify(data)}`);
                if (data.success) {
                    icon.classList.toggle('liked', !isLiked);
                    icon.name = isLiked ? 'heart-outline' : 'heart';
                } else {
                    alert("{% trans 'An error occurred. Please try again.' %}");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("{% trans 'An error occurred. Please try again.' %}");
            });
        });

        const prevBtn = document.getElementById('prev-btn');
        const nextBtn = document.getElementById('next-btn');
        const carouselInner = document.querySelector('.carousel-inner');

        prevBtn.addEventListener('click', function() {
            carouselInner.scrollBy({ left: -carouselInner.clientWidth, behavior: 'smooth' });
        });

        nextBtn.addEventListener('click', function() {
            carouselInner.scrollBy({ left: carouselInner.clientWidth, behavior: 'smooth' });
        });

        initMap();
    });
</script>
<script>
    function initMap() {
        const location = { lat: parseFloat("{{ workspace.latitude }}"), lng: parseFloat("{{ workspace.longitude }}") };
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: location
        });
        const marker = new google.maps.Marker({
            position: location,
            map: map,
            title: "{{ workspace.name }}"
        });
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const upvoteButtons = document.querySelectorAll('.upvote');
    const downvoteButtons = document.querySelectorAll('.downvote');

    upvoteButtons.forEach(button => {
        button.addEventListener('click', function() {
            const reviewId = this.getAttribute('data-review-id');
            voteReview(reviewId, 'upvote', this);
        });
    });

    downvoteButtons.forEach(button => {
        button.addEventListener('click', function() {
            const reviewId = this.getAttribute('data-review-id');
            voteReview(reviewId, 'downvote', this);
        });
    });

    function voteReview(reviewId, type, button) {
        fetch(`/vote_review/${reviewId}/${type}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ review_id: reviewId, type: type })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const upvoteButton = button.closest('.review-votes').querySelector('.upvote');
                const downvoteButton = button.closest('.review-votes').querySelector('.downvote');
                const usefulCountSpan = button.closest('.review-votes').querySelector('span');

                if (type === 'upvote') {
                    upvoteButton.setAttribute('disabled', 'true');
                    downvoteButton.removeAttribute('disabled');
                } else {
                    downvoteButton.setAttribute('disabled', 'true');
                    upvoteButton.removeAttribute('disabled');
                }

                usefulCountSpan.textContent = data.useful_count;
            } else {
                alert(data.error);
            }
        })
        .catch(error => console.error('Error:', error));
    }
});

</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuQTrofOez0YlZgK1cMnGSOnAGFZQVKuU&callback=initMap&libraries=places"></script>

<style>
    .container {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-container {
        width: 90%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 20px;
        text-align: start;
    }

    .header-container h1 {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 5px;
        font-family: 'Montserrat', sans-serif; 
        font-weight: 600;                   
        color: #203354;
    }

    .carousel-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .carousel-wrapper {
        overflow: hidden;
        width: 100%;
    }

    .carousel-inner {
        display: flex;
        flex-direction: row;
        transition: transform 0.5s ease;
    }

    .carousel-item {
        min-width: calc(33.33% - 10px);
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-img {
        max-width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }

    .fixed-size-img {
        width: 300px;
        height: 600px;
        object-fit: cover;
    }

    .carousel-control-prev,
    .carousel-control-next {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .carousel-control-prev {
        left: 10px;
    }

    .carousel-control-next {
        right: 10px;
    }

    .workspace-detail-section {
        font-family: 'Roboto', sans-serif;
    }

    .info-container {
        width: 90%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
    }

    .ratings-card,
    .details-card,
    .location-card {
        width: 30%;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        border-radius: 35px 0px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .margin {
        width: 90%;
        height: 90%;
    }

    .card-title {
        font-family: 'Montserrat', sans-serif; 
        font-weight: 600;                   
        color: #203354;                   
        text-align: start;
        font-size: 20px;
        margin: 20px 0px 20px 0px;
    }

    .card {
        margin-bottom: 20px;
    }

    #map {
        height: 200px;
        width: 100%;
        margin-bottom: 15px;
    }

    .card-body p {
        margin-bottom: 0;
    }

    .like-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 34px;
        right: 0px;
        position: relative;
    }

    .like-button .liked {
        color: #ff4d4d;
    }

    .rounded-circle {
        border-radius: 50%;
    }

    .mt-3 {
        margin-top: 1rem;
    }

    .mb-3 {
        margin-bottom: 1rem;
    }

    .mb-0 {
        margin-bottom: 0;
    }

    .text-center {
        text-align: center;
    }

    .text-muted {
        color: #6c757d !important;
    }

    body {
        margin-top:20px;
        background:#f8f8f8;
    }

    /* Main container for the profile content */
    .profile-content {
        display: flex; /* Enable flexbox for easy column layout */
    }

    /* Left column (Profile navigation) */
    .profile-nav {
        width: 25%; /* Adjust width as needed */
        margin-right: 20px; /* Add some spacing between columns */
    }

    .panel {
        background-color: #fff;
        margin-bottom: 20px;
    }

    .user-heading {
        background: #f2f2f2;
        text-align: center;
        padding: 30px;
    }

    .user-heading img {
        width: 98px;
        height: 98px;
        margin: 0 auto;
    }

    .user-heading h1 {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 5px;
    }

    .user-heading p {
        font-size: 12px;
    }

    .panel-body {
        padding: 15px;
    }

    .bio-graph-heading {
        background: #f7f7f7;
        padding: 10px;
        font-style: italic;
        text-align: center;
        font-size: 12px;
    }

    .bio-graph-info {
        padding: 40px 0;
    }

    .bio-graph-info h1 {
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .bio-row {
        width: 50%;
        float: left;
        margin-bottom: 10px;
        padding:0 15px;
    }

    .bio-row p span {
        width: 100px;
        display: inline-block;
        font-weight: bold;
    }

    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: #fff;
        background-color: #3498db;
    }

    .profile-info {
        width: 75%;
    }

    .workspace-detail-section {
        font-family: 'Roboto', sans-serif;
    }

    .list-group{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
    }

    .list-group-item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 15px;
        h6 {
            font-size: 18px;
            padding: 0px;
            margin: 0px 10px 0px 0px;
            color: #203354;
        }
        .text-secondary {
            color: #203354;
            margin: 0px 0px 0px 10px;
        }
    }

    .ratings-card .list-group-item:first-child {
        align-items: center;
        font-size: 26px;  
    }

    .star-rating {
        display: flex;
        align-items: center;
        display: inline-flex;
    }

    .ratings-card ul {
        list-style-type: none; 
        padding-left: 0;
    }
    
    .ratings-card .card-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .ratings-card .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ratings-card .list-group-item h6 {
        margin-bottom: 0;
    }

    .star-outline {
        color:#203354 !important;
        margin: 0px 2px;
    }

    .star {
        color:#365d77 !important;
        margin: 0px 2px;
    }

    .review-container {
        width: 90%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        border-radius: 35px 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 60px;
        text-align: start;
        margin-bottom: 60px;

        .margin {
            width: 90%;
            height: 90%;
        }

        .review {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: center;
            gap: 20px;
            padding-bottom: 20px;

            .geral-info {
                width: 30%;
                background-color: aqua;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;


                .star-counts {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    background-color: chartreuse;
                }
            }
            .reviews {
                width: 70%;
                border-radius: 35px 0px;
                margin: 10px;
                padding: 10px;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

                .title-review {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;

                    .title {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                    }
                    .avatar-lg {
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        margin: 10px;
                    }
                }
                .review-votes {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    align-items: center;
                    gap: 10px;
                }
                .star-rating {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;
                    color: #365d77;
                }
                .star-rating ion-icon {
                    margin-right: 5px;
                    font-size: 20px;
                }
            }
        }
    }
</style>

{% include 'homepage/footer.html' %}
{% endblock %}
