{% extends 'homepage/header.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block content %}

<section class="profile-section">
    <div class="profile-container">

        <div class="profile-sidebar">
            <div class="profile-card">
                <img src="{% static 'images/profile_picture.png' %}" alt="{% trans 'Profile Image' %}" class="rounded-circle avatar-lg img-thumbnail">
                <h2 class="profile-name">{{ user.name }}</h2>
                <p class="profile-email">{{ user.email }}</p>
                <p class="profile-location">
                    {% if city != 'Unknown' %}
                        {{ city }}, {{ country }}
                    {% else %}
                        {% trans "Em algum lugar do mundo" %}
                    {% endif %}
                </p>
            </div>
            
            <div class="card-box">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fa fa-globe"></i>
                        {% trans "Website" %}
                        <a href="https://bootdey.com" class="float-right" target="_blank">https://bootdey.com</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-github"></i>
                        {% trans "GitHub" %}
                        <a href="https://github.com/bootdey" class="float-right" target="_blank">bootdey</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-twitter"></i>
                        {% trans "Twitter" %}
                        <a href="https://twitter.com/bootdey" class="float-right" target="_blank">@bootdey</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-instagram"></i>
                        {% trans "Instagram" %}
                        <a href="https://instagram.com/bootdey" class="float-right" target="_blank">bootdey</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-facebook"></i>
                        {% trans "Facebook" %}
                        <a href="https://facebook.com/bootdey" class="float-right" target="_blank">bootdey</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="profile-content">
            <div class="card-box">
                <h2 class="header-title">{% trans "User Information" %}</h2>
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <tbody>
                            <tr>
                                <th scope="row"><ion-icon name="person"></ion-icon>{% trans "Full Name" %}</th>
                                <td>{{ user.name }}</td>
                            </tr>
                            <tr>
                                <th scope="row"><ion-icon name="mail-open"></ion-icon>{% trans "Email" %}</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row"><ion-icon name="call"></ion-icon>{% trans "Phone" %}</th>
                                <td>{{ user.phone_number|default:_("Not available") }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="{% url 'edit_profile' %}">{% trans "Edit" %}</a>            
            </div>

            <div class="card-box">
                <h2 class="header-title">{% trans "Workspace Statistics" %}</h2>
                <div class="workspace-stats-container">
                    <div class="workspace-stat-item">
                        <p class="text-muted mb-2">{% trans "Total Workspaces Liked" %} <span class="float-right">{{ total_workspaces_liked }}</span></p>
                    </div>
                    <div class="workspace-stat-item">
                        <p class="text-muted mb-2">{% trans "Top Cities with Liked Workspaces" %}</p>
                        <ul>
                            {% for city, count in top_cities %}
                            <li>{{ city }}: {{ count }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<style>
.profile-section {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

tbody {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 20px;
}

tr {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
}

td {
    margin-left: 20px;
}

.profile-container {
    display: flex;
    max-width: 960px;
    width: 100%;
}


.profile-sidebar {
    flex: 1;
    margin-right: 20px;
    
    .avatar-lg {
        width: 100px;
        height: 100px;
    }
}

.profile-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.profile-name {
    color: #203354;
    margin-bottom: 5px;
    font-size: 25px;
}

.profile-email {
    color: #757575;
    margin-bottom: 10px;
}

.profile-location {
    color: #757575;
    margin-bottom: 15px;
}

.profile-actions button {
    margin: 5px;
}

.profile-content {
    flex: 2;
}

.card-box {
    padding: 40px;
    border: 1px solid #e7eaec;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-title {
    font-size: 20px;
    padding: 0px;
    margin: 0px 0px 20px 0px;
    font-weight: 600;
    color: #203354;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #203354;
}

.list-group-item a {
    color: #4A90E2;
    text-decoration: none;
}

.progress {
    background-color: #e9ecef;
    height: 7px;
}

.progress-bar {
    background-color: #4CAF50;
}

.project-status-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-item {
    text-align: left;
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
    }

    .profile-sidebar {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
</style>

{% include 'homepage/footer.html' %}
{% endblock %}

